name: Cleanup Old Images
on:
  schedule:
    - cron: "0 0 * * 0" # Weekly on Sunday at midnight UTC
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}

jobs:
  delete-older-than-30:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Delete images older than 30 days
        uses: dataaxiom/ghcr-cleanup-action@v1.0.16
        with:
          token: ${{ secrets.MY_PAT }}
          packages: aenocyon
          older-than: 30 days
          delete-orphaned-images: true
          keep-n-tagged: 7
          keep-n-untagged: 7
